spring:
  application:
    name: task-manager

    #H2 Database Configuration
  datasource:
    url: jdbc:mysql://localhost:3306/task_manager
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: Kavindu1234*

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080
